/*DESIGN ONE*/
/*@import '~dropzone/dist/min/dropzone.min.css';*/
/*div{*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*height: 60%;*/
  /*width: 50%;*/
  /*margin: -15% 0 0 -25%;*/
  /*opacity: 1;*/
  /*border: thick ridge #e3e5e5 ;*/
  /*background-color: #2f3030;*/
  /*box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);*/
/*}*/
/*ngx-qrcode{*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 40%;*/
  /*height: 60%;*/
  /*width: 50%;*/

/*}*/
/*img{*/
  /*width: 200px;*/
/*}*/

/*DESIGN TWO*/

html, body {
  height: 100%;
  margin: 0;
}

#cover {
  min-height: 100%;
  background-color: white;
  opacity: 0.1;
}
#outerdiv{
  position: absolute;
  top: 28vw;
  left: 50vw;
  bottom: 10vw;
  width: 50vw;
  margin: -15% 0 0 -25%;
  /*opacity: 0.7;*/
  background-color: #313131;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}
#uploaddiv{
  margin: 20vw 0 0 17vw;
}
#upload,#uploadFile {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #313131), color-stop(1, #4f4f4f) );
  background:-moz-linear-gradient( center top, #313131 5%, #4f4f4f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#313131', endColorstr='#4f4f4f');
  background-color:#313131;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;

}
#upload:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4f4f4f), color-stop(1, #313131) );
  background:-moz-linear-gradient( center top, #4f4f4f 5%, #313131 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#313131');
  background-color:#4f4f4f;
}
#upload:active {
   position:relative;
   top:1px;
}
#qrdiv{
  align: center;
  margin: 10vw 0 0 20vw;
}
#qrdiv2{
  align: center;
  margin: 0vw 0 0 18vw;
}
#menu{
  height: 100%;
  float:left;
  width:20%;
  background-color: #313131;
  position: absolute;
  margin:0;
  padding:0;
  overflow: hidden;
  top: 0;
  left: 0;
}
#openmenubutton {
  margin: 0;
  margin-bottom: 10vw;
  background-color: #313131; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  top: 0;
  left: 0;
  position: absolute;
}
#openmenubutton:hover {
  background-color: #4d4d4d;
}
#dlapp {
  margin: 0;
  margin-bottom: 20vw;
  background-color: #313131; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */

  position: absolute;
}
#dlapp:hover {
  background-color: #4d4d4d;
}
#info {
  margin: 0;
  margin-bottom: 30vw;
  background-color: #313131; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */

  position: absolute;
}
#info:hover {
  background-color: #4d4d4d;
}
#help {
  margin: 0;
  margin-bottom: 40vw;
  background-color: #313131; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */

  position: absolute;
}
#help:hover {
  background-color: #4d4d4d;
}


.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
}

.box-container {
  box-sizing: border-box;
  width: 800px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;

  color: #555;
  background-color: #eee;
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.18),
    0 6px 6px rgba(0, 0, 0, 0.25);
}

.info-container {
  padding: 12px 16px;

  line-height: 24px;
}

.action-container,
.content-container {
  position: relative;

  overflow: auto;
  /*height: 350px;*/
  height: 85%;
  min-height: 0;
  padding: 16px;
  margin: 8px 16px;
  border-radius: 4px;

  background-color: #fff;
}

.vertical-container,
.horizontal-container {
  min-height: 0 !important;
}

.action-button {
  box-sizing: border-box;
  width: calc(100% - 16px);
  min-height: 35px;
  padding: 4px 16px;
  margin: 8px;
  border: 1px solid #555;
  border-radius: 4px;

  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}

.action-button:hover {
  color: #fff;
  background-color: #555;
}

.upload-container {
  height: 100%;
  margin: -4px;
}

td, th {
  text-align: left;
  padding-bottom: 4vw;
}
