/*DESIGN ONE*/
/*@import '~dropzone/dist/min/dropzone.min.css';*/
/*div{*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*height: 60%;*/
  /*width: 50%;*/
  /*margin: -15% 0 0 -25%;*/
  /*opacity: 1;*/
  /*border: thick ridge #e3e5e5 ;*/
  /*background-color: #2f3030;*/
  /*box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);*/
/*}*/
/*ngx-qrcode{*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 40%;*/
  /*height: 60%;*/
  /*width: 50%;*/

/*}*/
/*img{*/
  /*width: 200px;*/
/*}*/

/*DESIGN TWO*/

html, body {
  height: 100%;
  margin: 0;
}

#cover {
  min-height: 100%;
  background-color: white;
  opacity: 0.1;
}
div{
  position: absolute;
  top: 28vw;
  left: 50vw;
  bottom: 10vw;
  width: 50vw;
  margin: -15% 0 0 -25%;
  padding: 20vw 0 0 0 ;
  opacity: 0.7;
  background-color: #313131;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}
#upload {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #313131), color-stop(1, #4f4f4f) );
  background:-moz-linear-gradient( center top, #313131 5%, #4f4f4f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#313131', endColorstr='#4f4f4f');
  background-color:#313131;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
}
#upload:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4f4f4f), color-stop(1, #313131) );
  background:-moz-linear-gradient( center top, #4f4f4f 5%, #313131 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#313131');
  background-color:#4f4f4f;
}#upload:active {
   position:relative;
   top:1px;
 }
