body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}
#barBottom{
  height:5vh;
  width:100%;
  position: absolute;
  bottom: 0;
  left:0;
  vertical-align: bottom;
  background-color: #2f3030;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}
#divHeader {
  height: 12vh;
  width: 100%;
  position: absolute;
  vertical-align: top;
  top:0;
  left:0;
  background-color: #2f3030;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}
#logoImg{
  height:9vh;
  width: 27vh;
  padding: 1.5vh;
  position: absolute;
  left: 1vh;
}
#title{
  position: absolute;
  text-align: center;
  left: 45%;
}
#divFooter{
  height: 5vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #2f3030;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}


#DropDiv{

  position: absolute;
  top: 30%;
  height: 10%;
  width: 20%;
  margin: -15% 0 0 -25%;
  background-color: #343d46;

}
#CentreDiv{

  position: absolute;
  top: 50%;
  left: 50%;
  height: 60%;
  width: 50%;
  margin: -15% 0 0 -25%;
  opacity: 1;
  border: thick ridge #e3e5e5 ;
  background-color: #2f3030;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}
#addButton{

  position: absolute;
  top: 100%;
  left: 60%;
  margin: -15% 0 0 -25%;


}

#QRCode {
  width:160px;
  height:160px;
  margin-top:15px;
}
