
<div id="divHeader">
  <!--<h1 id="title">Drop</h1>-->
  <img src="assets/Drop_logo.png" alt="logo" id="logoImg">
</div>





<div id="DropDiv">

</div>

<div id="CentreDiv">

  <form id="addButton" action="upload.php" method="post" enctype="multipart/form-data">
    <input type="file" name="fileToUpload" id="fileToUpload">
    <!--<input type="submit" value="Upload Image" name="submit">-->
  </form>
  <input id="text" type="text" value="123456" style="width:80%" />
  <br />
  <div id="QRCode">
    <p>
      <qr text=" '1122222211' " type-number="typeNumber" correction-level="correctionLevel" size="size" input-mode="inputMode" image="image"></qr>
    </p>
  </div>

</div>

<div id="barBottom"></div>

<script src="../qrFiles/lib/qrcode.js"></script>
<script src="../qrFiles/src/angular-qr.js"></script>

<script>
  angular.module('adaptiveApp', ['ja.qr']).

  controller('AdaptiveCtrl', function ($scope) {
    $scope.qrcodeString = 'YOUR TEXT TO ENCODE';
    $scope.size = 250;
    $scope.correctionLevel = '';
    $scope.typeNumber = 0;
    $scope.inputMode = '';
    $scope.image = true;
  });
</script>

